.form-container {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Espacio entre los elementos */
}

body {
    background-image: url('Images/fondo.png'); /* Ruta de la imagen */
    background-size: cover; /* Ajusta la imagen para que cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen al fondo mientras se desplaza */
}

.jumbotron {
    margin-top: 30px; /* Ajusta este valor según la separación deseada */
}

.button {
    margin-top: 30px;
    margin-left: 30px;
}

/* Estilo base para el GridView */
.my-gridview {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

/* Encabezados de columna */
.my-gridview th {
    background-color: #286090;
    color: white;
    padding: 10px;
    text-align: center;
    border: 2px solid #ddd;
}

/* Filas de datos */
.my-gridview td {
    padding: 10px;
    border: 2px solid #ddd;
    text-align: center;
}

 /*Alternar colores en las filas */
.my-gridview tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Cambiar color al pasar el mouse */
.my-gridview tr:hover {
    background-color: #d1ecf1;
    transition: 0.3s;
}


